{{-  if (or (eq .Site.Params.identity.webmaster.noIndexAll true) (eq .Params.noIndexPage true) (eq .Params.sitemapExclude true) (eq .Params.excludeFromCrawlers true) (eq .Params.unlisted true))}}
<meta name="robots" content="noindex">
{{- end}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{{- if not .Section}}
    {{- with .Site.Params.theme.themeColor}}
        {{if .dark}}
            {{- with .light}}
                <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{.}}">
            {{- end}}
        {{- else}}
            {{- with .light}}
                <meta name="theme-color" content="{{.}}">
            {{- end}}
        {{- end}}
        {{- with .dark}}
            <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{.}}">
        {{- end}}
    {{- end}}
{{- else}}
    {{- with .Site.GetPage (.Section) }}
        {{if .Params.themeColor.dark}}
            {{- with .Params.themeColor.light}}
                <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{.}}">
            {{- end}}
        {{- else if .Params.themeColor.light}}
            {{- with .Params.themeColor.light}}
                <meta name="theme-color" content="{{.}}">
            {{- end}}
        {{- else}}
            {{- with .Site.Params.theme.themeColor}}
                {{if .dark}}
                    {{- with .light}}
                        <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{.}}">
                    {{- end}}
                {{- else}}
                    {{- with .light}}
                        <meta name="theme-color" content="{{.}}">
                    {{- end}}
                {{- end}}   
            {{- end}}
        {{- end}}
        {{- if .Params.themeColor.dark }}
            {{- with .Params.themeColor.dark}}
                <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{.}}">
            {{- end}}
        {{- else if eq .Params.themeColor.disableDefaultDark true}}
        {{- else}}
            {{- with .Site.Params.theme.themeColor.dark}}
                <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{.}}">
            {{- end}}
        {{- end}}
    {{- end}}
{{- end}}
{{- partial "head/head-css-bundler.html" . }}
<link rel="manifest" href="{{relURL "/manifest.json"}}">
{{- if .Site.Params.identity.general.favicon}}
<link rel="icon" type="image/x-icon" href="{{relURL .Site.Params.theme.favicon}}">
{{- end}}
<link rel="apple-touch-icon" href="{{relURL "/images/apple-touch-icon/152x152.png"}}">
{{ partial "head/head-site-identity.html" . }}