{{ if eq .Site.Params.noIndexAll true}}
<meta name="robots" content="noindex">
{{ else if and (or (eq .Params.noIndexPage true) (eq .Params.sitemapExclude true) (eq .Params.excludeFromCrawlers true) (eq .Params.unlisted true))}}
<meta name="robots" content="noindex">
{{- end}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{{- with .Site.Params.theme.themeColor}}
    {{if .dark}}
        {{- with .light}}
            <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{.}}">
        {{- end}}
    {{- else}}
        {{- with .light}}
            <meta name="theme-color" content="{{.}}">
        {{- end}}
    {{- end}}
    {{- with .dark}}
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{.}}">
    {{- end}}
{{- end}}
{{- partial "head/head-css-bundler.html" . }}
<link rel="manifest" href="{{relURL "/manifest.json"}}">
{{- if .Site.Params.theme.favicon}}
<link rel="icon" type="image/x-icon" href="{{relURL .Site.Params.theme.favicon}}">
{{- end}}
<link rel="apple-touch-icon" href="{{relURL "/images/apple-touch-icon/152x152.png"}}">
{{ partial "head/head-site-identity.html" . }}