{{- $0variablecss := resources.Get "style/unified/0-variables.css" | fingerprint }}
{{- $1elementsbaselayoutcss := resources.Get "style/unified/1-elementsbaselayout.css" | fingerprint }}
{{- $2pagebaselayoutcss := resources.Get "style/unified/2-pagebaselayout.css" | fingerprint }}
{{- $3animationcss := resources.Get "style/unified/3-animation.css" | fingerprint }}
{{- $4pageblockscss := resources.Get "style/unified/4-pageblocks.css" | fingerprint }}
{{- $5legacystylingcss := resources.Get "style/unified/5-legacystyling.css" | fingerprint }}
{{- $stylebundle := slice 
    $0variablecss
    $1elementsbaselayoutcss
    $2pagebaselayoutcss
    $3animationcss
    $4pageblockscss
    $5legacystylingcss
    | resources.Concat "style/style-bundle.css" | resources.Fingerprint "sha512"}}
<link rel="stylesheet" href="{{ $stylebundle.RelPermalink }}">
{{- if os.FileExists "/assets/style/custom.css"}}
{{- $customcss := resources.Get "style/custom.css" | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $customcss.RelPermalink }}">
{{- end}}