{{- if .Site.Params.identity.fbPageID}}<meta property="fb:pages" content="{{.Site.Params.identity.fbPageID}}" />{{end}}
{{- if .Site.Params.identity.bingValidationCode}}<meta name="msvalidate.01" content="{{.Site.Params.identity.bingValidationCode}}" />{{end}}
{{- if .Site.Params.identity.yandexValidationCode}}<meta name="yandex-verification" content="{{.Site.Params.identity.yandexValidationCode}}" />{{end}}
{{- if .Site.Params.identity.googleSiteVerificationCode}}<meta name="google-site-verification" content="{{.Site.Params.identity.googleSiteVerificationCode}}">{{end}}