{{- if eq .Page.Site.Params.flags.preloadDownscaledImages true}}
{{- $baseImage := resources.Get (.Destination)}}
{{- $downscaleProcessOutputPath := (path.Join "/images/preloader" (.Destination) )}}
{{- $downscaleProcess := $baseImage.Resize "20x" }}
{{- $downscaleProcessOutput := slice $downscaleProcess | resources.Concat $downscaleProcessOutputPath }} 
<img src="{{path.Join (.Destination) }}" alt="{{ .Text }}" class="preloaded-image zoomable-img" loading="lazy" style="background-image:url({{ $downscaleProcessOutput.RelPermalink }});"/>
{{- else}}

<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" class="zoomable-img"/>
{{- end}}