
<DOCTYPE html>
    <html>
        <head>
            {{ partial "head.html" . }}
        </head>
        <body>
            <div id="pageheader">{{ partial "header.html" . }}</div>
            <div class="pagetitle"><div class="pagetitle"><h1>{{ .Title }}</h1><p>Published <span id="dateDisplay">{{ .PublishDate }}</span></p>
            </div>
            <div id="pagecontent" class="padding-bottom">{{ .Content }}</div>
            <div id="sidebar">
                    {{ partial "sidebar.html" . }}
            </div>
            <div id="pagefooter">{{ partial "footer.html" . }}</div>
        </body>
    </html>