{{- if .Inner}}
    {{- if and (.Get "icon-class") (eq (.Get "icon-side" ) "both")}}
    <button class="button buttonAnimated nextButton" {{- with (.Get "color" )}}style="--animated-button-color:{{.}};"{{- end}}><i class='{{.Get "icon-class"}}'></i><span>{{.Inner | htmlUnescape | safeHTML}}</span><i class='{{.Get "icon-class"}}'></i></button>
    {{- else if and (.Get "icon-class") (eq (.Get "icon-side" ) "left")}}
    <button class="button buttonAnimated nextButton" {{- with (.Get "color" )}}style="--animated-button-color:{{.}};"{{- end}}><i class='{{.Get "icon-class"}}'></i><span>{{.Inner | htmlUnescape | safeHTML}}</span></button>
    {{- else if and (.Get "icon-class") (eq (.Get "icon-side" ) "right")}}
    <button class="button buttonAnimated nextButton" {{- with (.Get "color" )}}style="--animated-button-color:{{.}};"{{- end}}><span>{{.Inner | htmlUnescape | safeHTML}}</span><i class='{{.Get "icon-class"}}'></i></button>
    {{- end}}
{{- else if (.Get "name")}}
    {{- if and (.Get "icon-class") (eq (.Get "icon-side" ) "both")}}
    <button class="button buttonAnimated nextButton" {{- with (.Get "color" )}}style="--animated-button-color:{{.}};"{{- end}}><i class='{{.Get "icon-class"}}'></i><span> {{.Get "name" | htmlUnescape | safeHTML}} </span><i class='{{.Get "icon-class"}}'></i></button>
    {{- else if and (.Get "icon-class") (eq (.Get "icon-side" ) "left")}}
    <button class="button buttonAnimated nextButton" {{- with (.Get "color" )}}style="--animated-button-color:{{.}};"{{- end}}><i class='{{.Get "icon-class"}}'></i><span> {{.Get "name" | htmlUnescape | safeHTML}} </span></button>
    {{- else if and (.Get "icon-class") (eq (.Get "icon-side" ) "right")}}
    <button class="button buttonAnimated nextButton" {{- with (.Get "color" )}}style="--animated-button-color:{{.}};"{{- end}}><span> {{.Get "name" | htmlUnescape | safeHTML}} </span><i class='{{.Get "icon-class"}}'></i></button>
    {{- end}}
{{- else}}
<button class="button buttonAnimated nextButton" {{- with (.Get "color" )}}style="--animated-button-color:{{.}};"{{- end}}><span>↓ Next ↓</span></button>
{{- end}}