<script>	
	var coll = document.getElementsByClassName("collapsible");
	var i;
	
	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.maxHeight){
		  content.style.maxHeight = content.scrollHeight + "px";
		  setTimeout(() => {content.style.maxHeight = null; }, 480);
		  setTimeout(() => {content.style.display = null; }, 1200);
		  
		} else {
		  content.style.display = "block";
		  content.style.maxHeight = content.scrollHeight + "px";
		  setTimeout(() => { content.style.maxHeight = "100%"; }, 400);
		} 
	  });
	}
</script>