{{- partial "footer-scripts/netlify-identity-callback.html" . }}
{{- partial "footer-scripts/third-party-sdk/widgetbotcrate.html" . }}
{{- partial "footer-scripts/third-party-sdk/onesignal-callback.html" . }}
{{- partial "footer-scripts/third-party-sdk/google-translate.html" . }}
{{- partial "footer-scripts/third-party-sdk/facebook-sdk.html" .}}
{{- partial "footer-scripts/third-party-sdk/google-analytics-gtag.js.html" . }}
{{- partial "footer-scripts/third-party-sdk/google-platform-sdk.html" . }}
{{- partial "footer-scripts/third-party-sdk/twitter-sdks.html" . }}
{{- partial "footer-scripts/medium-zoom.html" .}}
{{- partial "footer-scripts/collapsible.html" . }}