<article class="post-snippet box-style">
    <div class="padding-top padding-bottom">
    <a href="{{.RelPermalink}}" style="color:white; text-decoration: none;">
    <div class="pagetitle-design">
    <div class="row">
      <div class="column" style="text-align:left;">
          <h1>{{ .Title }}</h1>
          <p>Published {{ dateFormat "02 Jan 06 15:04 MST" .Date.Local }}</p>
          <p>Authored by {{ if .Params.author }}{{.Params.author}}{{ else }}{{ .Site.Params.Author }}{{end}}</p>
      </div>
      <div class="column">
          <img width="100%" src="{{if .Params.customPagePreviewImageURL }}{{ .Params.customPagePreviewImageURL | relURL }}{{ else }}{{ .Site.Params.identity.general.pagePreviewImage | relURL }}{{end}}">
      </div>
    </div>
      <div class="pagetitle-design-text" style="display:block;padding-bottom:5%">{{ if gt (len .Summary) 200 }}<p>{{slicestr .Summary 0 200}}...</p>{{else}}<p>{{.Summary}}</p>{{ end }}</div>   
    </div>
    </a>
</article>