<article class="post-snippet list-style"> 
    <a href="{{.RelPermalink}}" style="color:white; text-decoration: none;" {{if or (eq .Site.Params.noIndexAll true) (eq .Params.NoIndexPage true) (eq .Params.sitemapExclude true) (eq .Params.excludeFromCrawlers true) (eq .Params.unlisted true)}} rel="nofollow"{{end}}>
      <div class="article-cover">
        <img src="{{if .Params.customPagePreviewImageURL }}{{ .Params.customPagePreviewImageURL | relURL }}{{ else }}{{ .Site.Params.identity.general.pagePreviewImage | relURL }}{{end}}">
      </div>
      <div class="article-title">
        <h1>{{ if gt (len .Title) 125 }}{{slicestr .Title 0 125}}...{{else}}{{.Title}}{{end}}</h1>
      </div>
      <div class="article-data">
        <span>&nbsp<img src="{{relURL "/images/icons/publish.png"}}" width="15px"> {{ dateFormat "02 January 2006" .Date.Local }}&nbsp{{if .Params.author}}<img src="{{relURL "/images/icons/author.png"}}" width="15px">{{$authorsplice := index (.Params.author) 0 }}<span class="list-style-authors">{{ $authorsplice }} {{if index (ge .Params.author 2)}}and others{{end}}</span>{{end}}
      </div>
    </a>
</article>