<article class="post-snippet list-style"> 
    <a href="{{.RelPermalink}}" style="color:white; text-decoration: none;">
      <div class="article-cover">
        <img src="{{if .Params.customPagePreviewImageURL }}{{ .Params.customPagePreviewImageURL | absURL }}{{ else }}{{ .Site.Params.pagePreviewImage | absURL }}{{end}}">
      </div>
      <div class="article-title">
        <h1>{{ if gt (len .Title) 125 }}{{slicestr .Title 0 125}}...{{else}}{{.Title}}{{end}}</h1>
      </div>
      <div class="article-data">
        <span>&nbsp<img src="/images/icons/publish.png" width="12px"> {{ dateFormat "02 January 2006" .Date.Local }}&nbsp<img src="/images/icons/author.png" width="12px"> {{ if .Params.author }}{{.Params.author}}{{ else }}{{ .Site.Params.Author }}{{end}}</span>
      </div>
    </a>
</article>
