article.list-style{
    border:3px solid black;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:4px;
}
@media(max-width:650px) {
    article.list-style{ height:100%; width:80%;}
    article.list-style div.article-cover img{
        height:100%;width:100%;
        object-fit:cover;
        border-right:2.5px solid black;
        border-bottom:2.5px solid black;
    }
}

@media(min-width:650px){
  article.list-style{ height:200px; width:600px;}
  article.list-style div.article-cover{
    float:left;
  }
  article.list-style div.article-cover img{
    height:157.5px;width:247.5px;
    object-fit:cover;
    border-right:2.5px solid black;
    border-bottom:2.5px solid black;
  }
  article.list-style div.article-title {
    text-align:left; float:right;
  }
  article.list-style div.article-title h1 {
    width:345px;
    word-wrap: break-word;
  }
  article.list-style div.article-data{
    clear:both;  
    text-align:left; 
    border:none;
}
}

span.list-style-authors{
  padding-left:2.5px;
  padding-right:2.5px;
  border:0.25px black solid;
  border-radius:6.5px;
}