<!DOCTYPE html>
<html>
    {{ block "head" . }}
    <head>
        {{ partial "head.html" . }}
    </head>
    {{end}}
    <body {{if .Params.body_class}}class="{{.Params.body_class}}"{{end}}>
        {{if eq .Params.hideHeader true}}{{else}}
        <header id="pageheader">{{ partial "header.html" .}}</header>
        {{end}}
        
        {{ block "main" .}}
        {{.Content}}
        {{end}}
        {{ block "sidebar-container" . }}
        <aside id="sidebar pagesidebar">
            {{ if os.FileExists "layouts/partials/sidebar.html" }}{{ partial "sidebar-partial.html" . }}{{end}}
        </aside>
        {{end}}
        {{ block "footer-container" . }}
        <footer id="pagefooter">
            {{if os.FileExists "layouts/partials/footer-links.html" }}
                <div class="footer-sitelinks">{{partial "footer-links.html" . }}</div><hr>
            {{end}}
                <div class="footer-siteinfo">{{ partial "footer.html" . }}</div>
        </footer>
        {{end}}
        {{ block "medium-zoom-container" . }}
            {{ partial "footer-scripts/medium-zoom-template.html"}}
        {{end}}
        {{ block "dev-mode-notice" . }}
            {{ partial "dev-branch-notice/challenge.html" . }}
        {{end}}
        {{ block "footer-scripts-container" . }}
            <div id="pagefooter-scripts">{{ partial "footer-scripts.html" . }}</div>
        {{end}}
    </body>
</html>