

{{ define "main" }}
{{ $section := $.Section }}
<div class="pagetitle">
    {{- if ne .RelPermalink "/"}}<p>{{.Site.Title}} -> {{ upper $section}}</p>{{end}}
    {{- if ne .RelPermalink "/"}}<h1>{{ .Title }}</h1>{{else}}{{.Site.Title}}{{end}}
    <p>{{.Params.Description}}</p>
    <p>{{.Content}}</p>
    <hr>
    {{- range .Paginator.Pages}}
    {{- if ne .Params.singlepage true}}
      {{- if (and (or (eq .Site.Params.sectionList.articleSnippetStyle "listStyle") (eq .Site.Params.relatedArticle.articleSnippetStyle "liststyle") (eq .Site.Params.relatedArticle.articleSnippetStyle "list-style" )))}}
        {{ partial "list/article-snippet/list-style.html" . }}
      {{- else}}
        {{ partial "list/article-snippet/box-style.html" .}}
      {{- end}}
    {{- end}}
    {{- end}}
    {{ partial "list/pagination.html" .}} 
</div>

{{ end }}