/*body div, div#nc-root, .css-83wr9v, input, span{
  background-color: transparent !important;
  color:black;
}
div.e169jtoy0{
  background-color:whitesmoke!important;
}
*/
#cms-root, .cms-wrapper, #control-pane, .css-1dxxesv {              
  max-width:unset !important;
  min-width:unset !important;
  width:100% !important;
}

.css-1qw96cp, .css-1ago99h, .css-s18byi, .css-1s1xrnn{              
  min-width:unset !important;
  width:100% !important;
}
@media (max-width:649px) {
  .css-1xm3hu5-button, .css-wu2ig8{
    font-size:0px !important;
  }
}
.relative.flex.h-16.items-center.justify-between{
  overflow-y:scroll !important;
}
.relative.flex.h-16.items-center.justify-between::-webkit-scrollbar{
  display: none !important;;
}
@media(max-width: 639px) {
  .w-main.left-64.px-5.py-4.overflow-y-auto.h-main.relative.styled-scrollbars,  
  .w-main.left-64.overflow-hidden.h-main.relative.styled-scrollbars{
    left:unset !important;
  }
  .w-main.left-64.px-5.py-4.overflow-y-auto.h-main.relative.styled-scrollbars{
    width:65% !important;
  }
  .w-sidebar-expanded{
    width:40%;
  }
}
@media (max-width: 799px) {
    .grid.grid-cols-editor.h-full{
      grid-template-columns: auto !important;
    }
    .w-preview, #preview-pane{
      display:block!important;
      height: unset !important;
      position:relative !important;
    }
    .w-editor-only{
      max-width:unset !important;
      min-width:unset !important;
      width:100%!important;
    }
    .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-xzdtk7 {
      max-width:799px !important; 
      width:100% !important;
      min-width:0px !important;
    }
    .css-8yxy9j .MuiDialog-paper{
      max-width:unset !important;
      width:100% !important;
    }
    #quick-create-button, #existing-published-button, .css-1h48b3{
      margin:10px !important;
    }
    #quick-create-button span, #existing-published-button span, .css-1h48b3 span{
      display: none
    }
    /* Media */
    .css-1f3mf5k-StyledModal {
      padding: 15px  !important;
      grid-template-rows: 190px auto  !important;
    }

    .css-svjxk-SearchContainer {
      display: block  !important;
      width: 100%  !important;
    }
    .css-70ahfk {
      flex-direction: column  !important;
    }

    .css-3ifd9s-ActionsContainer {
      text-align: center  !important;
    }

    .css-1ih1y1j-LibraryTitle {
      margin-bottom: 15px  !important;
    }

    .css-2ptjc9-UpperActionsContainer {
      display: inline-block  !important;
    }

    .css-1qukh7n-DownloadButton-button-default-disabled-button {
      margin-left: 0  !important;
      margin-right: 0  !important;
    }

    .css-13rmovq-StyledUploadButton-button-default-disabled-button-gray {
      margin-left: 10px  !important;
    }

    .css-1hpjyse-DeleteButton-button-default-disabled-button-lightRed {
      margin-top: 10px  !important;
      margin-left: 0  !important;
      margin-right: 0  !important;
    }

    .css-1s67tkf-InsertButton-button-default-disabled-button-green {
      margin-top: 10px  !important;
      margin-left: 10px  !important;
    }

    .css-16796rj-LowerActionsContainer {
      display: inline-block  !important;
      margin-top: 0  !important;
    }
    .w-preview{
      width: 100% !important;
    }
    .css-1jydmlz-PreviewContainer{
      display:none !important;
    }
    .css-7d7n9g-StyledSplitPane-card-splitPane{display:block !important;}
    .css-stmjdx-CardGridContainer  {
      position: static;
      overflow: visible  !important;
      width: 100%  !important;
      padding-top: 20px  !important;
    }
    /* End Media */

    /* Blog */
    .css-hn3jn7-EditorContainer {
      min-width: 0  !important;
      padding-top: 100px  !important;
    }

    .css-2oej7z-ToolbarContainer {
      height: 100px  !important;
      width: 100%  !important;
      min-width: 0  !important;
    }

    .css-osnbqe-ToolbarToggle {
      flex-direction: column  !important;
    }
    /* End Blog */

    /* Optional */
    span.Resizer.vertical {
      display: none  !important;
    }

    #preview-pane, .preview-content, .css-tzzedi {
      display: none  !important;
    }
    .css-5h3zfp{
      display: block!important;
      min-width:0px !important;
      max-width:799px !important;
      width:100% !important;

    }
    #control-pane {
      width: 100% !important;
      display:block !important;
      max-width:799px;
    }

    .css-1bqupl5-ViewControls.e1pxf6c47 {
      display: none  !important;
    }

    .SplitPane.css-7d7n9g-StyledSplitPane-card-splitPane.e1pxf6c41.vertical {
      display: block !important
    }

    .css-134r1tn-RowContainer.ebn7k121 {
      display: block  !important;
    }

    button.css-6ekon-ActionButton-button-default-disabled-button.eljtsap3 {
      margin: 0 10px 0 0  !important;
      font-size: 12px  !important;
      padding: 0 10px  !important;
    }
    .css-1gj57a0-SidebarContainer-card{width:100%!important; margin:0 !important;}
    .css-1o58c3b-ButtonsContainer.ebn7k122 {
      text-align: left  !important;
    }

    .css-134r1tn-RowContainer.ebn7k121 {
      margin-top: 10px  !important;
    }

    button.css-196hm3u-DeleteButton-button-default-disabled-button-lightRed.eljtsap1 {
      margin: 0 10px 0 0 !important ;
    }

    button.css-d08ild-InsertButton-button-default-disabled-button-green.eljtsap2 {
      margin-left: 0  !important;
    }

    .css-1o58c3b-ButtonsContainer.ebn7k122 {
      margin-top: 10px  !important;
    }

    button.css-579ih7-ActionButton-button-default-disabled-button-gray-ActionButton.eljtsap3 {
      margin: 0 10px 0 0  !important;
      font-size: 12px  !important;
      padding: 0 10px  !important;
    }

    label.nc-fileUploadButton.css-1fb6kv1-UploadButton-button-default-disabled-button-gray.eljtsap0 {
      margin-left: 0  !important;
    }

    .ep5ukwb0.css-1f3mf5k-StyledModal {
      width: calc(100% - 60px)  !important;
      height: calc(100% - 60px)  !important;
    }
}
@media(max-width:500px) {
    h1:not(.text-noautoadjust){font-size:calc(22px + 1vw)!important}
    h2:not(.text-noautoadjust){font-size:calc(14px + 1vw)!important}
    h3:not(.text-noautoadjust){font-size:calc(8.72px + 1vw)!important}
    h4:not(.text-noautoadjust){font-size:calc(6px + 1vw)!important}
    h5:not(.text-noautoadjust){font-size:calc(3.28px + 1vw)!important}
    h6:not(.text-noautoadjust){font-size:calc(15px + 1vw)!important}
}
