a.button {
	display:inline-block;
	background-color:#32373C;
	color:white;
    padding: 10px 20px;
	margin:10px;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
	border-radius:10px 10px;
	border:2px solid black;
}
@media (prefers-color-scheme:dark){
    a.button {
		border:2px solid white;
	}
}