article.article-content div.pagetitle img.cover-image{
    height:300px;
    width:98%; 
    object-fit:cover;      
    border-radius: 10px;

}
@media (min-width:1000px){
    article.article-content div.pagetitle img.cover-image{
        max-width:1000px;
        object-fit:cover;   
    }
}
article.article-content div.pagetitle h1{
    word-wrap: break-word;
}
article.article-content div.pagetitle {
    border-bottom:2px solid white;
    padding-bottom: 10px;
}
/*pagecontent-page-post | Post Default Style*/
.page-post{
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	box-shadow:0px 0px 10px black;
    border-radius:10px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:10px;
	width:95%;
	margin-top:10px;
	padding-top:3.5px!important;
	min-height:300px;
	max-width:1000px;
	height:auto;
}
@media(max-width:390px){
    .page-post{
        width:90%;
    }
}
.page-post p {
    text-indent: 30px;
}
.page-post h1, .page-post h2, .page-post h3, .page-post h4, .page-post h5, .page-post h6{
    margin-left:5px;
    margin-right:5px;
}
.page-post figcaption {
	text-align:center;
}
.list-no-bullets li {
	list-style: none;
}
.list-align-left li {
	text-align: left;
}
.text-align-left {
	text-align: left;
}
.column-width-150px{
	max-width:150px;
}

div.pagecontribute{
    box-shadow:0px 0px 10px black;
    border-radius:10px;
    max-width:1000px;
    width:95%;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    
}

article.post-design-layout-container{
    margin: 15px 5vw;
    padding:10px;
    border:2px solid black;
    border-radius:5px;
}
section.post-design-layout-post-thumbnail img {
        height:auto;
        width:95%;
        border-radius:15px;
        transition:1s !important;
        transition-timing-function: cubic-bezier(0, 1, .5, 1) !important;
}
@media(min-width:800px){
    section.post-design-layout-post-thumbnail img {
        width:75%;
    }
}
@media(min-width:1500px){
    section.post-design-layout-post-thumbnail img {
        width:55%;
    }
} 
section.post-design-layout-title{
    display: grid;
    padding:10px;
    grid-template-columns: fit-content(100%);
}
img.post-design-layout-title-user-pfp{
    grid-area: pdltu-pfp;
    border-radius: 100%;
}
span.post-design-layout-title-user-name{
    grid-area:pdltu-nm;
    justify-self:start;
    margin:auto;
}
span.post-design-layout-title-user-postdate{
    grid-area:pdltu-dt;
    justify-self: start;
    font-size:12px;
}
button.post-design-layout-title-author-modal-trigger{
    background: none ;
    border: none;
    padding: 0!important;
    color:inherit;
    font-size:15px;
    text-decoration: none;
    cursor: pointer;
    font-weight:bolder;
    text-align:left;
}
div.post-design-layout-title-user{
    display: grid;
    column-gap:5px;
    text-align:left;
    grid-template-areas: 
        "pdltu-pfp pdltu-nm"
        "pdltu-pfp pdltu-dt"
    ;
}
section.post-design-layout-comments{
    padding:10px;
    border-radius:10px;
}