article.article-content div.pagetitle img.cover-image{
    height:300px;
    width:100%;
    object-fit:cover;   
}
@media (min-width:1000px){
    article.article-content div.pagetitle img.cover-image{
        width:700px;
        object-fit:cover;   
    }
}
article.article-content div.pagetitle h1{
    word-wrap: break-word;
}
article.article-content div.pagetitle {
    border-bottom:2px solid white;
}