/*pagecontent-page-post | Post Default Style*/
.page-post{
	text-align:left;
	padding-left:10%;
	padding-right:10%;
	text-indent: 30px;
}
.page-post figcaption {
	text-align:center;
}
.list-no-bullets li {
	list-style: none;
}
.list-align-left li {
	text-align: left;
}
.text-align-left {
	text-align: left;
}
.column-width-150px{
	max-width:150px;
}