/*pagecontent-light-border | Border Default Style */
div.border{
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
@media (prefers-color-scheme: dark){
    div.border{
		border-top: 2px solid lightgray;
		border-bottom: 2px solid lightgray;
	}
}