/*pagecontent-light-collapsablecontent | collapsable content for lists */
.collapsible {
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
  	padding:5px;
  	margin-left:auto;
  	margin-right:auto;
  	background-color: #888;
  	color: white;
  	cursor:pointer;
	width:50%;
  	padding:27px;
	border:10px;
  	text-align: left;
  	outline: none;
}
.collapsible-notbig{
	padding-left:5px;
	padding-right:5px;
	padding:2.5px;
} 
.collapsible-fullwidth{
	width:100%;
}
@media(min-width:600px){
	.collapsible-fullwidth{
		width:75%;
	}
}
@media(min-width:900px){
	.collapsible-fullwidth{
		width:50%;
	}
}
.active, .collapsible:hover {
  	background-color: #666;
}
div.collapsible-content {
  	display: none;
  	overflow:hidden;
  	background-color: transparent;
}