/*pagecontent-both-column | Column Style */
.row {
	display: flex;
  }
  .column {
	flex: 50%;
	margin-top:auto;
	margin-bottom:auto;
	padding:15px;
}
@media (max-width: 600px) {
	.row {
		display: block;
	}
}