:root{
    --heading-color:black;

    --text-color:black;
    --text-color-dark:white;

    --page-background-color:white;
    --page-background-color-dark:#111;

    --dev-branch-background-color:yellow;
    --dev-branch-text-color:black;

}