div.dev-branch-notice{
	background-color:var(--dev-branch-background-color); 
	width:100%;
	z-index:1;
	bottom:0;
	position:fixed;
	border-radius:10px 10px 0px 0px;
}
div.dev-branch-notice b{
	color:var(--dev-branch-text-color);
}
div.devBranchNoticeDivHidden{
	bottom: -50vh;
	visibility: hidden;
	transition:ease-out .75s;
}
button.devnotice-session-hide-button{
	position:absolute;
	font-weight: bold;
	top:2px;
	border-radius: 5px;
	right:4px;
	opacity:0.25;
	padding:3.5px;
	font-size:13.5px;
}
button.devnotice-session-hide-button:hover{
	opacity:1;
}
@media(max-width:800px){
	button.devnotice-session-hide-button{
		padding:7px;
		font-size:17px;
	}
}