body{
	background:transparent; 
	margin:0;
	padding:0;
	font-family: Roboto, Helvetica, Arial, sans-serif, 'Noto Color Emoji' !important;
	text-align:center;
}
@font-face {
	font-family: 'Noto Color Emoji';
	src: url("/fonts/NotoColorEmoji-Regular.ttf");
}
.main-container{
	height:auto;
	min-height:500px;
}
html, body{
	scroll-padding-top: 160px;
	scroll-behavior: smooth;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:black;
	text-decoration: none;
}
pre{
	width:100%;
	overflow:hidden;
}
pre:hover{
	overflow:scroll;
}
iframe{
	border-radius:10px;
}