html, body{
	margin:0;
	padding:0;
	color:var(--text-color);
	text-align:center;
}
@media(prefers-color-scheme: dark){
	html, body{
		color:var(--text-color-dark);
	}
}
body, button{
	font-family: var(--font-preferences);
}
@font-face {
	font-family: 'Noto Color Emoji';
	src: url("/fonts/NotoColorEmoji-Regular.ttf");
}
.content-container{
	height:auto;
	min-height:500px;
}
html, body{
	scroll-padding-top: 160px;
	scroll-behavior: smooth;
}
div.main-container h1, div.main-container h2, div.main-container h3, div.main-container h4, div.main-container h5, div.main-container h6, div.main-container p, div.main-container b, div.main-container span, div.main-container td, div.main-container th, div.main-container li, div.main-container figcaption{
	text-decoration: none;
}
pre{
	width:100%;
	overflow:hidden;
}
pre:hover{
	overflow:scroll;
}
iframe{
	border-radius:10px;
}

section.post-design-layout-content img {
    height:auto;
    width:80%;

    border-radius:15px;
    transition:1s !important;
    transition-timing-function: cubic-bezier(0, 1, .5, 1) !important;
}
@media(min-width:800px){
    section.post-design-layout-content img {
        width:60%;
    }
}
@media(min-width:1500px){
    section.post-design-layout-content img {
        width:35%;
    }
} 