/*pageheader-light-knowledgebase | Knowledgebase header, still inherits header style */
.navbar-knowledgebase{
	background-color: #EDED28;
}
.navbar-knowledgebase ul li{
	background-color: #EDED28;
}
.navbar-knowledgebase .dropdown-content {
	background-color: #EDED28; 
}
.navbar-knowledgebase .navbar-links ul li {
	text-align: center;
	background-color:#EDED28;
}
.navbar-knowledgebase .navbar-links li a {
	background-color:#EDED28;
}
@media(prefers-color-scheme:dark){
    /*pageheader-dark-knowledgebase | Knowledgebase header, still inherits header color */
	.navbar-knowledgebase{
		background-color: #a5a50d;
	}
	.navbar-knowledgebase ul li{
		background-color: #a5a50d;
	}
	.navbar-knowledgebase .dropdown-content {
		background-color: #a5a50d;
	}
	.navbar-knowledgebase .navbar-links ul li {
		text-align: center;
		background-color:#a5a50d;
	}
	.navbar-knowledgebase .navbar-links li a {
		background-color:#a5a50d;
	}
}