/*pageheader-light | Page header, parent style of the header  */
header.header {
	z-index:1;
	top:0;
	display: grid;
	grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);

	position: sticky;
	width:100%;
	align-items: center;
	background-color: #ffffff;
	color: black;
	min-height:80px;
	border-radius:0px 0px 10px 10px;
}
div.header-grid-container{
	margin-top:auto;
}
div.header-main-grid-container{
	display:grid;
	width:100%;
	grid-template-columns: fit-content(100%) auto;
	margin-top:auto;
	margin-bottom:auto;
	padding-top:5px;
	padding-bottom:5px;
}
div.brand-title{
	margin-left:5px;
	margin-right:5px;
	margin-top:auto;
	place-self: start;
}
.header-main-brand-title-link-container{
	display: grid;
	grid-template-columns: auto auto;
	text-decoration: none;
	color:black;
}
div.header-psa-grid-container {
	background-color:var(--psa-bg-color, yellow);
}
div.header-psa-grid-item{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:2px solid black;
}
div.header-psa-grid-item img{
	max-width:20px;
	display: inline;
}
div.header-psa-onetime{
	display: none;
}
button.header-psa-onetime-close-button{
	border: 1.5px solid black;
	border-radius: 5px;
	font-weight:bolder;
}
div.headerPsaOneTimeEntryActive{
	display:block;
}
div.subservice-brand-title{
	margin-top:auto;
	margin-bottom:auto;
	display:grid; 
	grid-template-columns:fit-content(100%) fit-content(100%) fit-content(100%); 
}
.sectionheader{
	width:100%;
	height:40px;
	background-color:#ffffff;
	text-align:left;
	font-size:25px;
	text-indent:15px;
	border-radius:0px 0px 10px 10px;
}
.sectionheader *{
	margin-top:4px;
}
.sectionheader b{
	color:black;
}
.sectionheader a{
	text-decoration:none;
}
.sectionheader img{
	padding-right:5px;
}

img.sitelogo {max-width:120px; max-height:65px;}
img.subservicelogo {max-height:35px; margin-top:auto; margin-bottom:auto;}
nav.header-links {
	margin-top:auto;
	margin-bottom:auto;
	background-color: unset;
	overflow-x: scroll;
}
nav.header-links ul {
	display: flex;
	margin:0;
	padding:0;
}
nav.header-links ul li {
	text-align: center;
	background-color:#fff;
	list-style:none;
}
nav.header-links li a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 1rem;
}
nav.header-links li a:hover {
	background-color: #ddd;
	border-radius:10px;
}
.dropdown, .dropbtn{
	position: flex;
	display: inline-block;
	text-decoration:none;
	color:black;
  }
.dropdown-content {
	display: none;
	min-width: 160px;
	background-color: #fff;
	z-index: 1;
  }
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius:unset;
}  
nav.header-links .dropdown:hover .dropdown-content{display: block;}
nav.header-links .dropdown-content {
	position: absolute;
	background-color: #ffffff;
	z-index: 1;
}
.header-links-toggle-button {
	float:right;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	justify-self: end;
	margin-top:auto;
	margin-bottom:auto;
	margin-right:15px;
}
.header-links-toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: blue;
	border-radius: 10px;
}

@media (max-width: 800px) {
	header.header {
		flex-direction: column;
		align-items: flex-start;
	}
	div.brand-title{
		grid-area: hm-BT;
	}
	a.header-links-toggle-button{
		grid-area: hm-LTB;
	}
	nav.header-links{
		grid-area: hm-L;
	}
	div.header-main-grid-container{
		grid-template-areas:
		"hm-BT hm-LTB"
		"hm-L hm-L";
	}
	.header-links-toggle-button {
		display: flex;

	}
	nav.header-links {

		max-height:0px;
		overflow-y:scroll;
		transition:	max-height .5s cubic-bezier(0,1,.5,1);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		width:100%;
	}
	nav.header-links.active {
		max-height:45vh;
		transition:	max-height 1s cubic-bezier(0,.75,.5,1);
		display:flex;
	}
	nav.header-links ul {
		width: 100%;
		flex-direction: column;
	}
	nav.header-links ul li {
		text-align: center;
		width: 100%;
	}
	nav.header-links ul li a {
		padding: 25px;
		width: 85vw;
		margin:auto;
	}
	nav.header-links ul li div.dropdown div.dropdown-content{
		position:relative;
	}
	nav.header-links ul li div.dropdown a.dropbtn{
		width:85vw;
	}

}
div.psa{
	font-size:100%;
	z-index:1;
	position:fixed;
	border-bottom:3px solid red;
	width:100%; 
	top:0px; 
	text-align:center;
	word-wrap: break-word;
}
div.psa * {margin-top:-10px;}
div.psa-height-00{height:0px;}
div.psa-height-20{height:20px;}
div.psa-height-40{height:40px;}
div.psa img{
	max-height:18px;
	padding:1px;
	display:inline-block;
}
@media(prefers-color-scheme: dark) {
    	/*pageheader-dark | Page header style*/
	header.header {
		background-color: #333;
		color: black;
	}	
	.sectionheader{
		background-color:#333;
	}
	.sectionheader b{
		color:white;
	}
	.header-main-brand-title-link-container{
		color:white;
	}
	nav.header-links li a {
		background-color:#333;
		color:#fff;
	}
	nav.header-links ul li {
	text-align: center;
	background-color:#333;
	}
	nav.header-links li a:hover {
		background-color: #888;
	}
	.dropdown, .dropbtn{
		position: flex;
		display: inline-block;
		text-decoration:none;
		color:black;
	  }
	header.header .dropdown-content {
		display: none;
		background-color: #555
	  }
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}  
	nav.header-links .dropdown:hover .dropdown-content{display: block;}
	nav.header-links .dropdown-content {
		background-color: #555;
	}
	.header-links-toggle-button .bar {
		background-color: #fff;
		border-radius: 10px;
	}
	@media (max-width: 800px) {
		header.header {
			flex-direction: column;
			align-items: flex-start;
			}
		.header-links-toggle-button {
			display: flex;
			}
		nav.header-links ul li {
			text-align: center;
		}
	}   
}
@media(min-width:800px){
	nav.header-links ul li{background-color:transparent;}
}