div.homepage-sidebysidecontainer{
    display:grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    padding:5px;
    row-gap:100px;
}
@media(max-width:800px){
    div.homepage-sidebysidecontainer{
        grid-template-rows:50% 50%;
        grid-template-columns:unset;
        row-gap: 0px;
    }
    div.homepage-sidebysidecontainer div:nth-child(2n){
        margin-bottom: 100px;
    }
    div.homepage-sidebysidecontainer img {
        width:75%;
    }
}
div.homepage-sidebysidecontainer div.homepage-contentblock{
    position:relative;
    display: grid;
    align-items: center;
}

div.homepage-gridcontainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap:5px;
    row-gap:50px;
    margin:25px auto;
}