div.marquee{
	position:static;
	display:block;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 20s linear infinite;
	-webkit-animation: scroll-left 20s linear infinite;
	animation: scroll-left 20s linear infinite;
}