div.noticeShortcode{
    padding:5px 10px 2px;
    border-radius: 5px;
    margin: 10px auto; 

}
div.noticeShortcode p{
    text-indent:unset;
}
div.noticeShortcode.noticeShortcode-warn{
    background-color:#fc0;
}
div.noticeShortcode.noticeShortcode-info{
    background-color:#9c3;
}
div.noticeShortcode.noticeShortcode-error{
    background-color:#c30;

}