@media(min-width:800px){
    .content-container {
        float: left;
        width: 70%;
      }
    .sidebar-container {
        float: right;
        width: 30%;
      }
    .footer-container {
        clear: both;
    }
}
aside.sidebar-container iframe{
  border-radius:10px;
}
aside.sidebar-container div{
  border-radius:10px;
}
aside.sidebar-container{
  padding-bottom:20px;
}