@media(min-width:800px){
    div.main-container{
      display: grid;
      margin-right: 10px;
      margin-left: 5px;
      column-gap:5px;
      grid-template-columns: 75% 25%;
    }
}
@media(max-width:800px){
  aside#sidebar{
    margin-left:5px;
    margin-right:5px;
  }
}
aside.sidebar-container iframe{
  border-radius:10px;
}
aside.sidebar-container div{
  border-radius:10px;
}
aside.sidebar-container{
  padding-bottom:20px;
}