<div class="pagetitle">
    <img class="cover-image"  style="margin:0;" src="{{if .Params.customPagePreviewImageURL }}{{ .Params.customPagePreviewImageURL | absURL }}{{ else }}{{ .Site.Params.pagePreviewImage | absURL }}{{end}}">
    <h1>{{ .Title }}</h1>
    <div class="article-data">
        <span>&nbsp<img src="/images/icons/publish.png" width="12px"> {{ dateFormat "02 January 2006" .Date.Local }}&nbsp<img src="/images/icons/author.png" width="12px"> {{ if .Params.author }}{{.Params.author}}{{ else }}{{ .Site.Params.Author }}{{end}}</span>
    </div>
</div>
