{{- if or (eq .Site.Params.edit_page.all_pages true)}}<div class="pagecontribute">
{{- if ne .Params.hideEditThisPage true}}
{{- if .Params.customEditThisPageText}}
<b>{{.Params.customEditThisPageText}}</b>
{{- else }}
<strong>Edit this page:</strong>
{{- end}}
<br>
{{if eq .Site.Params.edit_page.by.cms true}}
<b><a target=”_blank” href="/admin">CMS</a></b>
{{end}}
{{- if eq .Site.Params.edit_page.by.github.enable true}}
<b><a target=”_blank” href="{{ path.Join (.Site.Params.edit_page.by.github.repo) "/edit/main/content" .File.Path }}">GitHub</a></b>
{{- end}}
{{- if eq .Site.Params.edit_page.by.gitlab.enable true}}
<b><a target=”_blank” href="{{ path.Join (.Site.Params.edit_page.by.gitlab.repo)  "/-/edit/main/content" .File.Path }}">GitLab</a></b>
{{- end}}
</div>
{{- end}}
{{- end}}