{{ $related := site.RegularPages.RelatedIndices . "tags" "date" }}
{{ with $related }}
<h3>Related Content:</h3>
<ul>
	{{range $related}}
    {{if ne .Params.singlepage true}}
      {{ if (and (or (eq .Site.Params.relatedArticles.articleSnippetStyle "listStyle") (eq .Site.Params.relatedArticle.articleSnippetStyle "liststyle") (eq .Site.Params.relatedArticle.articleSnippetStyle "list-style" )))}}
        {{ partial "list/article-snippet/list-style.html" . }}
      {{else}}
        {{ partial "list/article-snippet/box-style.html" .}}
      {{end}}
    {{end}}
    {{end}}
</ul>
{{ end }}