<div style="text-align:center;">
		<img src="/images/logo.png" width="100px">
		<br>
		<p>Copyright {{.Site.Params.copyrightYearStarted}}-{{ .Site.Params.copyrightYearToday }} by {{ if .Site.Params.copyrightHolder }}{{ .Site.Params.copyrightHolder }}{{else}}{{ .Site.Title }}{{end}}</p>
		{{if .Site.Params.copyrightNotes}}{{.Site.Params.copyrightNotes | markdownify }}<br><br>{{else}}{{end}}
		{{if .Site.Params.managedByWhom}}{{.Site.Params.managedByWhom | markdownify }}{{else}}<p>Managed by {{ .Site.Title }}</p>{{end}}
		<div id="google_translate_element"></div>
</p>
</div>