<div style="text-align:center;">
		<img src="/images/logo.png" width="100px">
		<br>
		<p>Copyright {{.Site.Params.copyrightYearStarted}}-{{ .Now.Format "2006" }} by {{ .Site.Title }}</p>
		<p>Elements of this website are owned by {{ .Site.Title }}. Other third party copyrighted content are owned by their respective owners.</p>
		{{if .Site.Params.managedByOthersText}}{{.Site.Params.managedByOthersText | markdownify }}{{else}}<p>Managed by {{ .Site.Title }}</p>{{end}}
		<div id="google_translate_element"></div>
</p>
</div>