{{- if .Site.Params.identity.fbpageid}}<meta property="fb:pages" content="{{.Site.Params.identity.fbpageid}}" />{{end}}
{{- if .Site.Params.identity.bingvalidationcode}}<meta name="msvalidate.01" content="{{.Site.Params.identity.bingvalidationcode}}" />{{end}}
{{- if .Site.Params.identity.yandexvalidationcode}}<meta name="yandex-verification" content="{{.Site.Params.identity.yandexvalidationcode}}" />{{end}}
{{- if .Site.Params.identity.googlesiteverificationcode}}<meta name="google-site-verification" content="{{.Site.Params.identity.googlesiteverificationcode}}">{{end}}