<script>$(function(){$("#pagecontent-notice").load("/notice.html");});</script>
<div id="pagecontent-notice"></div>
<nav class="navbar navbar-knowledgebase">
    <div class="brand-title"><a href="/"><img src="/images/logo.png" width="100px"></a><a href="/community/knowledgebase"><img src="/images/knowledgebaselightbulb.png" width="45px"></a></div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      {{ if os.FileExists "layouts/partials/nav.html" }}{{ partial "nav.html" . }}{{else}}{{ partial "partial-default.html" . }}{{end}}
    </div>
  </nav>
  <script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]
     
     toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active')
    })
  </script>
<div class="pageheaderpadding" style="margin-top:66px;"></div>