{{ if os.FileExists "layouts/partials/psa.html" }}<div class="psa"><div class="marquee">{{ partial "psa.html" . | markdownify}}</div></div>{{end}}
<nav class="navbar" {{ if os.FileExists "layouts/partials/psa.html" }}style="top:20px;"{{else}}style="top:0px;"{{end}}>
    <div class="brand-title"><a href="/">{{ if os.FileExists "static/images/logo.png" }}<img src="/images/logo.png" class="sitelogo" width="100px">{{else}}<style>.brand-title b{max-width:8px;min-width:1px;}</style><b>{{ .Site.Title }}</b>{{end}}</a></div>
    <a class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      {{ if os.FileExists "layouts/partials/nav.html" }}{{ partial "nav.html" . }}{{else}}{{ partial "partial-default.html" . }}{{end}}
    </div>
  </nav>
  <script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]
     
     toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active')
    })
  </script>
  <div class="pageheaderpadding" {{ if os.FileExists "layouts/partials/psa.html" }}style="margin-top:100px;"{{else}}style="margin-top:80px"{{end}}></div>