{{ if os.FileExists "layouts/partials/psa.html" }}<div class="psa" style="background:yellow;z-index:1;position:fixed;max-height:20px; width:100%; top:0px; text-align:center">{{ partial "psa.html" . | markdownify }}</div><style>div.psa *{min-width:10px;max-width:15px;min-height:10px;max-height:10px; display:inline;}</style>{{end}}
<nav class="navbar" {{ if os.FileExists "layouts/partials/psa.html" }}style="top:20px;"{{else}}style="top:0px;"{{end}}>
    <div class="brand-title"><a href="/"><img src="/images/logo.png" class="sitelogo" width="100px"></a></div>
    <a class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      {{ if os.FileExists "layouts/partials/nav.html" }}{{ partial "nav.html" . }}{{else}}{{ partial "partial-default.html" . }}{{end}}
    </div>
  </nav>
  <script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]
     
     toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active')
    })
  </script>
  <div class="pageheaderpadding" {{ if os.FileExists "layouts/partials/psa.html" }}style="margin-top:100px;"{{else}}style="margin-top:80px"{{end}}></div>