<style>
aside#sidebar{position:absolute;top:0em;right:0px;width:30%;padding-left:15px;z-index:0;}
@media(min-width:800px){#pagecontent,div.pagetitle{width:65%;}}
@media(max-width:800px){aside#sidebar{display:block;position:relative;width:100%;padding-left: 0px;margin-left: 0px;}}</style>
<h3>Current Time:</h3>
    <iframe src="https://free.timeanddate.com/clock/i85188tq/n145/fn14/fs20/tct/pct/ftb/tt0/tw1/tm1/td1/th2/ta1/tb4" frameborder="0" width="195" height="50" allowtransparency="true"></iframe>