{{- define "main"}}
<br>
{{- if .Params.gravatar}}
    <img src="https://www.gravatar.com/avatar/{{md5 .Params.gravatar}}">
{{- else}}
    <img src="{{ .Params.avatar }}" alt="" />
{{- end}}
<h1>{{ .Params.name }}</h1>
{{ .Content }}
<hr>
<h2>Articles written by the author</h2>
{{ range .Data.Pages }}
  {{- if (and (or (eq .Site.Params.theme.list.sectionList.articleSnippetStyle "boxStyle") (eq .Site.Params.theme.list.sectionList.articleSnippetStyle "boxstyle") (eq .Site.Params.theme.list.sectionList.articleSnippetStyle "box-style" )))}}
    {{ partial "list/article-snippet/box-style.html" .}}
  {{- else}}
    {{ partial "list/article-snippet/list-style.html" . }}
  {{- end}}
{{ end }}
{{- end}}