{{ define "head" }}
<head>
  {{ partial "head-basic-info.html" . }}
  {{ partial "head-scripts.html" . }}
  <title>Ban Information | World of SteelCraft</title>

  <meta name="title" content="Ban Information | World of SteelCraft">
  <meta name="description" content="This is the list of banned members with reasons and proof. You will not get banned for unreasonable reason.">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="Ban Information | World of SteelCraft">
  <meta property="og:description" content="This is the list of banned members with reasons and proof. You will not get banned for unreasonable reason.">
  <meta property="og:image" content="https://worldofsteelcraft.tk/images/preview.png">
  
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ .Permalink }}">
  <meta property="twitter:title" content="Ban Information | World of SteelCraft">
  <meta property="twitter:description" content="This is the list of banned members with reasons and proof. You will not get banned for unreasonable reason.">
  <meta property="twitter:image" content="https://worldofsteelcraft.tk/images/preview.png">
</head>
{{end}}
{{ define "main" }}
<div class="pagetitle border">
  <h1>Ban Information</h1>
  <p>This is the list of banned members with reasons and proof. You will not get banned for unreasonable reason.</p>
  <p>Punishments subjects to the <b><a href="/rules">rules</a></b></p>
  <p>If you think that you got wrongfully banned or want to get context or non-personal information, message us on our personal accounts or email <b><a href="mailto:admins@worldofsteelcraft.tk">admins@worldofsteelcraft.tk</a></b></p>
</div>
<div id="pagecontent" style="text-align:center;">
  {{ range.Data.Pages }}
    <article class="post-snippet">
      <div class="padding-top padding-bottom">
      <a href="{{.Permalink}}" style="color:white; text-decoration: none;">
      <div class="pagetitle-design">
      <div class="row">
        <div class="column" style="text-align:left;">
            <h1>{{ .Title }}</h1>
            <p>Published {{ dateFormat "02 Jan 06 15:04 MST" .Date.Local }}</p>
            <p>Authored by {{ if .Params.author }}{{.Params.author}}{{ else }}{{ .Site.Params.Author }}{{end}}</p>
        </div>
        <div class="column">
            <img width="100%" src="{{if .Params.customPagePreviewImageURL }}{{ .Params.customPagePreviewImageURL | absURL }}{{ else }}{{ .Site.Params.pagePreviewImage | absURL }}{{end}}">
        </div>
      </div>
        <div style="display:block;padding-bottom:5%">{{ .Content }}</div>   
      </div>
      </a>
    </article>
  {{ end }}
  </div>
{{end}}