{{- range .}}
    {{if eq .oneTime true}}
    {{- if not .id}}
    <div id="header-psa-onetime-error" class="header-psa-grid-item header-psa-onetime-error">
        Failed to add One-Time PSA Entry. You must provide a One-Time PSA ID in order to work. <br>
        Not a web admin? Report it to your web administrator to get fixed.
    </div>
    {{- else}}
    <div id="header-psa-onetime-{{.id}}" class="header-psa-grid-item header-psa-onetime">
    {{.content | markdownify}}
    <button class="header-psa-onetime-close-button" onclick="var headerPSAOneTimeContentId = {{.id}}; headerPSAContentToggle(headerPSAOneTimeContentId)">{{- if .buttonText}}{{- .buttonText}}{{- else}}Close{{- end}}</button>
    <script>
        var headerPSAContentDisplay = document.getElementById({{print "header-psa-onetime-" (.id) }});
        var headerPSAOneTimeEntryChecker = localStorage.getItem({{.id}});
        if (headerPSAOneTimeEntryChecker !== null){ 
            console.log("{{.id}} entry exists in the localStorage")
        } else {
            console.log("{{.id}} entry does not exist in the localStorage")
            var headerPSAOneTimeContentDisplay = document.getElementById('header-psa-onetime-'+ '{{.id}}');
            headerPSAOneTimeContentDisplay.classList.toggle('headerPsaOneTimeEntryActive');
        }

    </script>
    </div>
    {{- end}}
    {{- else }}
    <div class="header-psa-grid-item">
    {{.content | markdownify}}
    </div>
    {{- end}}
{{- end }}
<script>
        function headerPSAContentToggle(headerPSAOneTimeContentId){
            localStorage.setItem(headerPSAOneTimeContentId, true);
            var headerPSAContentDisplay = document.getElementById("header-psa-onetime-" + headerPSAOneTimeContentId);
            headerPSAContentDisplay.classList.toggle('headerPsaOneTimeEntryActive');
 
        }
</script>