{{- range .}}
    {{if eq .oneTime true}}
    {{- if not .id}}
        {{warnf "Failed to add One-Time Announcement Entry. You must provide an Announcement ID in order to work." }}
    {{- else}}
    <div data-nosnippet id="header-psa-onetime-{{.id}}" class="header-psa-grid-item header-psa-onetime" {{- if .color}}style="background-color:{{- .color}};" {{- end}}>
    <p class="header-psa-content">{{.content | markdownify}}</p>
    {{if .details}}
    <span id="header-psa-onetime-{{.id}}-details">
        <button class="modal-button header-psa-modal-button" href="#header-psa-onetime-{{.id}}-details-modal">Details</button>
        <div id="header-psa-onetime-{{.id}}-details-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-body header-psa-details-modal-body">
                <span class="close">×</span>
                <p>{{.details | markdownify}}</p>
              </div>
            </div>
          </div>
    </span>
    {{- end}}
    <button class="header-psa-onetime-close-button" {{- if .buttonColor}}style="background-color:{{- .buttonColor}};" {{- end}} onclick="var headerPSAOneTimeContentId = {{.id}}; headerPSAContentToggle(headerPSAOneTimeContentId)">{{- if .buttonText}}{{- .buttonText}}{{- else}}Close{{- end}}</button>
    <script>
        var headerPSAContentDisplay = document.getElementById({{print "header-psa-onetime-" (.id) }});
        var headerPSAOneTimeEntryChecker = localStorage.getItem({{.id}});
        if (headerPSAOneTimeEntryChecker !== null){ 
            console.log("{{.id}} entry exists in the localStorage, keeping content hidden")
        } else {
            console.log("{{.id}} entry does not exist in the localStorage, displaying content")
            var headerPSAOneTimeContentDisplay = document.getElementById('header-psa-onetime-'+ '{{.id}}');
            headerPSAOneTimeContentDisplay.classList.toggle('headerPsaOneTimeEntryActive');
        }

    </script>
    </div>
    {{- end}}
    {{- else }}
    <div data-nosnippet class="header-psa-grid-item" {{- if .color}}style="background-color:{{.color}};" {{end}}>
    {{.content | markdownify}}
    {{- if and (.details) (not .id)}}
        {{- warnf "Failed to create modal for an announcement. You must provide an Announcement ID in order to work." }}
    {{- else }}
    <span id="header-psa-persistent-{{.id}}-details">
        <button class="modal-button header-psa-modal-button" href="#header-psa-persistent-{{.id}}-details-modal">Details</button>
        <div id="header-psa-persistent-{{.id}}-details-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
            <div class="modal-body header-psa-details-modal-body">
                <span class="close">×</span>
                <p>{{.details | markdownify}}</p>
            </div>
            </div>
        </div>
    </span>
    {{- end}}
    </div>    

    {{- end}}
{{- end }}
<script>
        function headerPSAContentToggle(headerPSAOneTimeContentId){
            localStorage.setItem(headerPSAOneTimeContentId, true);
            var headerPSAContentDisplay = document.getElementById("header-psa-onetime-" + headerPSAOneTimeContentId);
            headerPSAContentDisplay.classList.toggle('headerPsaOneTimeEntryActive');
 
        }
</script>