{{- $psalettercount := .Site.Params.psa.content | strings.Count "" }}
<header class="header" id="pageheader">
  <div class="header-grid-container">
    {{ if eq .Site.Params.psa.enable true}}
    <div class="header-psa-grid-container">
      {{.Site.Params.psa.content | markdownify}}
    </div>
    {{ end }}
    <div class="header-main-grid-container">
      <div class="brand-title">
        <a href="/">{{ if .Site.Params.identity.general.logo}}<img src="{{relURL (.Site.Params.identity.general.logo)}}" class="sitelogo">{{else if os.FileExists "static/images/logo.png" }}<img src="{{relURL "/images/logo.png"}}" class="sitelogo">{{end}}</a>
      </div>
      <a class="header-links-toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <nav class="header-links">
        <ul>
        {{- $currentPage := . }}
        {{- range .Site.Menus.main }}
          {{- if .HasChildren}}
            <li><div class="dropdown">
              <a class="dropbtn">{{ .Name }}</a>
              <div class="dropdown-content">
              {{- range .Children }}
                <a href="{{.Params.URL}}">{{.Name}}</a>
              {{- end}}
            </li>
          {{- else}}
            <li><a href="{{.Params.URL}}">{{.Name}}</a></li>
          {{- end}}
        {{- end}}
        </ul>
      </nav>
    </div>
    <div class="header-section-grid-container">
      {{- partial "header/header-section.html" . }}
    </div>
  </div>
</header>
  <script>
    const headerLinksToggleButton = document.getElementsByClassName('header-links-toggle-button')[0]
    const headerLinks = document.getElementsByClassName('header-links')[0]
     
    headerLinksToggleButton.addEventListener('click', () => {
    headerLinks.classList.toggle('active')
    })
  </script>
