{{- range .}}
    {{if eq .oneTime true}}
    {{- if not .id}}
        {{warnf "Failed to add One-Time Announcement Entry. You must provide an Announcement ID in order to work." }}
    {{- else}}
    <div data-nosnippet id="header-psa-onetime-{{.id}}" class="header-psa-grid-item header-psa-onetime" {{- if .color}}style="background-color:{{- .color}};" {{- end}}>
    <p class="header-psa-content">{{.content | markdownify}}</p>
    {{if .details}}
    <span id="header-psa-onetime-{{.id}}-details">
        <button class="modal-button header-psa-modal-button" href="#header-psa-onetime-{{.id}}-details-modal">Details</button>
        <div id="header-psa-onetime-{{.id}}-details-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-body header-psa-details-modal-body">
                <span class="close">×</span>
                <p>{{.details | markdownify}}</p>
              </div>
            </div>
          </div>
    </span>
    {{- end}}
    <button class="header-psa-onetime-close-button" {{- if .buttonColor}}style="background-color:{{- .buttonColor}};" {{- end}} onclick="var headerPSAOneTimeContentId = {{.id}}; headerPSAContentToggle(headerPSAOneTimeContentId)">{{- if .buttonText}}{{- .buttonText}}{{- else}}Close{{- end}}</button>
    {{- with .expire}}
    <script>
        var expireDate = new Date({{.}});
        var dateNow = new Date;
    </script>
    {{- end}}
    <script>
        var headerPSAContentDisplay = document.getElementById({{print "header-psa-onetime-" (.id) }});
        var headerPSAOneTimeEntryChecker = localStorage.getItem({{.id}});
        if (dateNow.getTime() >= expireDate.getTime()) {
            console.log("INFO: {{.id}} entry had expired, keeping it hidden until removed, or renewed")
        } else {
            checkPSADisplayStatus(headerPSAOneTimeEntryChecker, {{.id}})
        }

    </script>
    </div>
    {{- end}}
    {{- else }}
    <div data-nosnippet id="header-psa-persistent-{{.id}}" class="header-psa-grid-item" {{- if .color}}style="background-color:{{.color}};" {{end}}>
    {{.content | markdownify}}
    {{- if and (.details) (not .id)}}
        {{- warnf "Failed to create modal for an announcement. You must provide an Announcement ID in order to work." }}
    {{- else }}
    <span id="header-psa-persistent-{{.id}}-details">
        <button class="modal-button header-psa-modal-button" href="#header-psa-persistent-{{.id}}-details-modal">Details</button>
        <div id="header-psa-persistent-{{.id}}-details-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
            <div class="modal-body header-psa-details-modal-body">
                <span class="close">×</span>
                <p>{{.details | markdownify}}</p>
            </div>
            </div>
        </div>
    </span>
    {{- if .expire}}
    <script>
        var expireDate = new Date({{.expire}});
        var dateNow = new Date;
        if (dateNow.getTime() >= expireDate.getTime()) {
            document.getElementById("{{- print "header-psa-persistent-" (.id) -}}").style.display = "none";
            console.log("INFO: {{.id}} persistent entry had expired, hiding it until removed, or renewed")
        }
    </script>
    {{- end}}
    {{- end}}
    </div>    

    {{- end}}
{{- end }}
